page-curso {
    .title{
        color: #666060;
        font-weight: bold;
    }
    .text{
        color: #666060;
    }
    .value{
        padding: 5px;
        color: black;
        font-weight: bold;
        align-items: center;
        margin-left: 25px;
    }
    .icon{
        float: left;
        font-size: 25px;
    }
    
}
